*{
  margin: 0;
  padding: 0;
  text-align: center;

}
body{
  background-image: url("../img/fondo.jpg");
}
#titulo{
  font-size: 3.5em;
  font-family: 'Barrio', cursive;
  color: #6E6E6E;
}
#navegacion li.botones{
  background: crimson;
}
.carousel-content {
	display: none;
}

.carousel-content.active {
	display: block;
}
